<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/index.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		
		<main class="container">
			
			<div class="row center">
				<div class="col s12 m12 l12">
					<div class="card">
						<div class="card-content">
							<span class="card-title">IP Subnet Calculator</span>
							<div class="divider"></div><br/>
							<input ng-model="oct0" type="number" min="0" max="255" style="width:50px"/>.
							<input ng-model="oct1" type="number" min="0" max="255" style="width:50px"/>.
							<input ng-model="oct2" type="number" min="0" max="255" style="width:50px"/>.
							<input ng-model="oct3" type="number" min="0" max="255" style="width:50px"/>/
							<input ng-model="prefix" type="number" min="0" max="32" style="width:50px"/>
							
							<br/>
							
							Class: {{class()}}<br/>
							Network Address: {{networkAddress()}}<br/>
							Subnet Mask: {{subnetMask()}}<br/>
							IP Binary: {{IPBinary()}}<br/>
							Network Binary: {{networkBinary}}<br/>
							Subnet Binary: {{subnetBinary()}}<br/>
							Network Bits: {{prefix}}<br/>
							Host Bits: {{32-prefix}}<br/>
							Subnet Bits: {{subnetBits()}}<br/>
							Total Subnets: {{totalSubnets()}}<br/>
							Hosts Per Subnet: {{hostsPerSubnet()}}<br/>
							Total Hosts on Network: {{hostCount}}<br/>
							Hosts lost to Subnets: {{hostsLostToSubnets()}}
						</div>
					</div>
				</div>
			</div>
			
		</main><!-- container -->
		
		<!--  Scripts-->
		<script src="js/materialize.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>
